@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/comfortaa/Comfortaa.eot');
	src: local('fonts/comfortaa/Comfortaa'),
		url('fonts/comfortaa/Comfortaa.eot?#iefix') format('embedded-opentype'),
		url('fonts/comfortaa/Comfortaa.woff') format('woff'),
		url('fonts/comfortaa/Comfortaa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/comfortaa/Comfortaa-Bold.eot');
	src: local('fonts/comfortaa/Comfortaa Bold'), local('Comfortaa-Bold'),
		url('fonts/comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/comfortaa/Comfortaa-Bold.woff') format('woff'),
		url('fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/comfortaa/Comfortaa-Light.eot');
	src: local('fonts/comfortaa/Comfortaa Light'), local('Comfortaa-Light'),
		url('fonts/comfortaa/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/comfortaa/Comfortaa-Light.woff') format('woff'),
		url('fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}