body {
  background-color: #1d1f20;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.sk-wandering-cubes {
  width: 4em;
  height: 4em;
  position: relative;
  margin: auto;
}

.sk-wandering-cubes .sk-cube {
  background-color: #337ab7;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both;
          animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both;
}

.sk-wandering-cubes .sk-cube-2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@keyframes sk-wandering-cubes {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(2em) rotate(-90deg) scale(0.5);
            transform: translateX(2em) rotate(-90deg) scale(0.5);
  }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(2em) translateY(2em) rotate(-179deg);
            transform: translateX(2em) translateY(2em) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(2em) translateY(2em) rotate(-180deg);
            transform: translateX(2em) translateY(2em) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}